<div class="container">
  <br>

  {{#if error}}
    <BsAlert @type="danger">
      Error: {{error}}
    </BsAlert>
    <BsButton @id="kulibali" @type="primary" @onClick={{action "reload"}}>Reload</BsButton>
  {{/if}}

  {{#each model as |radio|}}
    {{radio.name}} <a target="_blank" class="btn btn-danger" href={{radio.streamingLink}}>Lisen Live</a><br><br>
  {{/each}}

</div>
